body {
  background: #E6E1DB;
  position: relative;
  overflow: hidden;
}

.blackrectangle {
  position: absolute;
  top: 2vw;
  left: 6vw;
  width: 25%;
}


.yellowrectangle {
  position: absolute;
  left: 3vw;
  top: 20vw;
  width: 20%;
}

.bluerectangle {
  position: absolute;
  left: 15vw;
  top: 28vw;
  width: 20%;

}

.redrectangle {
  position: absolute;
  right: 45vw;
  width: 26%;
}

.greenrectangle {
  position: absolute;
  right: 28vw;
  top: 10vw;
  width: 18%;

}

.pinkrectangle {
  position: absolute;
  right: 15vw;
  width: 18%;

}

.blackcircle {
  position: absolute;
  right: 2vw;
  width: 24%;

}

@media (min-width: 375px) {

  .blackrectangle {
    top: 2vw;
    left: 6vw;
    width: 40%;
  }


  .yellowrectangle {
    left: 3vw;
    top: 35vw;
    width: 35%;
  }

  .bluerectangle {
    left: 15vw;
    top: 60vw;
    width: 50%;

  }

  .redrectangle {
    right: 20vw;
    width: 70%;
    top: 40vw;
  }

  .greenrectangle {
    right: 55vw;
    top: 110vw;
    width: 38%;

  }

  .pinkrectangle {
    right: 10vw;
    width: 40%;
    top: 20vw;

  }

  .blackcircle {
    right: 2vw;
    width: 34%;
    top: 20vw;

  }


}
